* {
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
}

header h1 {
    padding: 10px;
    font-family: "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header h1:hover {
    transform: scale(1.2);
}

section {
    margin: 20px auto;
}

.photo-and-contacts {
    display: flex;
    justify-content: center;
}

.photo-and-contacts img {
    margin: 10px;
}

.contact-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.contact-info h2,
.contact-info p,
.contact-info a {
    margin: 0;
    text-align: left;
}

.contact-info h2{
    text-transform: uppercase;
}

.contact-info p,
.contact-info a{
    font-size: 18px;
}

.contact-info a {
    text-decoration: none;
    color: darkgreen;
}

.summary p {
    padding: 20px;
    font-size: 18px;
}

.summary p:first-letter {
    font-size: 200%;
    color: darkgreen;
}